* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 16px;
    color: #E87287;
}

.notification {
    background-color: rgba(9, 8, 15, 0.64);
    border: 2px solid #E87287;
    border-radius: 12px;
    padding: 12px;
    margin: 6px;
}

